/*Style de l'erreur 404*/

.simple-404 {
    text-align: center;
    padding: 80px 20px;
}

/*Titre de l'erreur 404*/

.simple-404 h1 {
    font-size: 6rem;
    color: var(--pink-color);
    margin: 0;
}

/*Sous-titre de l'erreur 404*/

.simple-404 h2 {
    font-size: 2rem;
    margin: 10px 0;
}


/*Paragraphe de l'erreur 404*/


.simple-404 p {
    font-size: 1rem;
    color: #555;
}

/*Lien de l'erreur 404*/

.simple-404 a {
    display: inline-block;
    margin-top: 20px;
    padding: 12px 24px;
    background-color: var(--pink-light-color);
    color: var(--black-color);
    text-decoration: none;
    border-radius: 8px;
    transition: background-color 0.3s ease;
}


/*Effet du lien de l'erreur 404*/


.simple-404 a:hover {
    background-color: var(--pink-darker-color);
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}


/*Bouton de l'erreur 404*/


.pulse {
    display: inline-block;
    padding: 12px 24px;
    background-color: var(--pink-darker-color); /* vert foncé */
    color: var(--white-color);
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    animation: pulse 1.5s ease-in-out infinite;
    transition: background-color 0.3s ease;
}

.pulse:hover {
    background-color: var(--pink-darker-color);
}