/*Style du fond d'actualité*/

    /*Image actualité*/
.image_actualite {
    width: 100%;
    display: block;
    position: relative;
}

    /*Titre actualité*/

.titre_page_actualite {
    position: absolute;
    top: 276.8px;
    left: 0; /* pour bien aligner à gauche */
    right: 0; /* et à droite */
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    font-weight: 600;
    background-color: var(--pink-more-light-color);
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    padding: 55px; /* padding seulement horizontal */
}

.soulignement_titre_actualite {
    display: inline-block;
    border-bottom: 3px solid var(--pink-color);
    padding-bottom: 5px;
    font-weight: 600;
}

.one_line_image_intro_actualite {
    width: 217.11px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

/*Fin style du fond d'actualité*/

/*Style intro actualité*/

.intro_actualite {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 48px;
    position: relative;
}

    /*Titre intro actualité*/

.intro_titre_actualite {
    font-size: 28px;
    font-weight: 600;
    margin-left: 237px;
}

    /*Description intro actualité*/

.intro_description_actualite {
    font-size: 16px;
    font-weight: 400;
    margin-left: 237px;
    margin-top: 26px;
}

    /*Image intro actualité*/

.intro_image_actualite {
    border-radius: 15px;
    border: var(--pink-more-light-color) 6.5px solid;
    margin-right: 344px;
    width: 321px;
    flex: 1;
    margin-top: 113px;
}

.intro_container {
    margin-top: 100px;
}

/*Fin style intro actualité*/

/*Style banniére actualité*/

.actualite_list{
    padding:0;
    list-style: none;
}

.actualite_all {
    background-color: var(--pink-more-light-color);
    display: flex;
    position: relative;
    margin-top: 113px;
    margin-bottom: 113px;
}

    /*Titre banniére actualité*/

.actualite_all_title {
    font-size: 28px;
    font-weight: 600;
    margin-top: 141px;
    margin-left: 237px;
}

    /*Description banniére actualité*/

.actualite_all_description {
    font-size: 16px;
    font-weight: 400;
    margin-top: 26px;
    margin-left: 237px;
    width: 60%;
}

    /*Image banniére actualité*/

.actualite_all_img {
    width: 294px;
    aspect-ratio: 16 / 9;
    margin-right: 74.1px;
    margin-top: 127px;
    margin-bottom: 107px;
    border-radius: 15px;
    position: relative;
    z-index: 2;
}

    /*BackImage banniére actualité*/

.back_image_actualite_all {
    position: absolute;
    top: 65.8px;
    right: -97.8px;
    width: 351.7px;
    border-radius: 32px;
    aspect-ratio: 306 / 248; /*// pour faire un carrée sans utiliser heifht*/
    background-color: var(--pink-color);
    z-index: 2;
}

/*One line image banniére actualité*/

.image_cpt {
    width: 484px;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
}
/*Fin style banniére actualité*/

/*Style banniére actualité inversé*/

.actualite_list li:nth-child(even) article {
    flex-direction: row-reverse;
}

/*BackImage banniére actualité inversé*/

.actualite_list li:nth-child(even) .back_image_actualite_all {
    position: absolute;
    top: 65.8px;
    left: -97.8px;
    width: 351.7px;
    border-radius: 32px;
    aspect-ratio: 306 / 248; /*// pour faire un carrée sans utiliser heifht*/
    background-color: var(--pink-color);
    z-index: 2;
}

/*Image banniére actualité inversé*/

.actualite_list li:nth-child(even) .actualite_all_img {
    width: 294px;
    aspect-ratio: 16 / 9;
    border-radius: 15px;
    position: relative;
    z-index: 2;
    margin: 127px 0 107px 74.1px;
}

    /*Titre banniére actualité inversé*/

.actualite_list li:nth-child(even) .actualite_all_title {
    font-size: 28px;
    font-weight: 600;
    margin-top: 141px;
    margin-left: 48px;
}

    /*Description banniére actualité inversé*/

.actualite_list li:nth-child(even) .actualite_all_description {
    font-size: 16px;
    font-weight: 400;
    margin-top: 26px;
    margin-left: 48px;
    width: 54.6%;
}

.actualite_list li:nth-child(even) .actualite_all_text_container {
    margin-top: 20px;
}

.actualite_all_fig {
    margin: 0;
}

.actualite_all_text_container {
    margin-top: 20px;
}

@media (max-width: 1185px) {
    .actualite_all_description {
        margin-left: 80px;
    }

    .actualite_all_title {
        margin-left: 80px;
        padding-top: 50px;
    }

    .actualite_list li:nth-child(even) .actualite_all_title {
        margin-top: 90px;
    }
}

@media (max-width: 1425px) {
    .titre_page_actualite {
        top: 245px;
        padding: 32px;
    }
}

@media (max-width: 1300px) {
    .titre_page_actualite {
        padding: 16px;
    }
}

@media (max-width: 1275px) {
    .intro_image_actualite {
        margin-right: 110px;
    }
}

@media (max-width: 1070px) {
    .titre_page_actualite {
        top: 183px;
    }

    .intro_description_actualite {
        margin-left: 65px;
    }

    .intro_titre_actualite {
        margin-left: 65px;
    }

    .one_line_image_intro_actualite {
        width: 153px;
    }
}

@media (max-width: 1015px) {
    .titre_page_actualite {
        top: 190px;
        padding: 13px;
        font-size: 23px;
    }
}

@media (max-width: 1000px) {
    .actualite_all_title {
        margin-top: 95px;
    }
}

@media (max-width: 900px) {
    .actualite_all {
        display: block;
    }

    .back_image_actualite_all {
        display: none;
    }

    .actualite_all_img {
        margin-left: 80px;
        margin-top: 20px;
    }

    .actualite_list li:nth-child(even) .actualite_all_img {
        margin-top: 30px;
        margin-left: 50px;
    }
}


@media (max-width: 870px) {
    .titre_page_actualite {
        top: 150px;
    }
}

@media (max-width: 825px) {
    .intro_actualite {
        display: block;
    }

    .intro_image_actualite {
        margin-top: 35px;
        margin-left: 65px;
    }

    .intro_description_actualite {
        width: 80%;
    }

    .one_line_image_intro_actualite {
        top: -90px;
        width: 125px;
    }
}

@media (max-width: 715px) {
    .titre_page_actualite {
        top: 110px;
    }
}

@media (max-width: 565px) {
    .titre_page_actualite {
        top: 70px;
    }
}

@media (max-width: 450px) {
    .titre_page_actualite {
        top: 59px;
        padding: 8px;
        font-size: 18px;
    }
}