.image_actualite {
    width: 100%;
    position: relative;
}

.titre_page_actualite {
    width: 100%;
    font-size: 30px;
    font-weight: 700;
    text-align: center;
    background-color: var(--pink-more-light-color);
    padding: 55px;
    border-radius: 35px 35px 0 0;
    position: absolute;
    top: 276.8px;
    right: 0;
}

.soulignement_titre_actualite {
    display: inline-block;
    border-bottom: 3px solid var(--pink-color);
    padding-bottom: 5px;
}

.intro_titre_actualite {
    font-size: 28px;
    font-weight: 600;
    margin-left: 237px;
}

.intro_description_actualite {
    font-size: 16px;
    font-weight: 400;
    margin-left: 237px;
    margin-top: 26px;
}

.intro_image_actualite {
    border-radius: 15px;
    border: var(--pink-more-light-color) 6.5px solid;
    margin-right: 344px;
    width: 321px;
    flex: 1;
    margin-top: 113px;
    margin-bottom: 113px;
}

.intro_actualite {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 48px;
    position: relative;
}

.actualite_all {
    background-color: var(--pink-more-light-color);
    display: flex;
    position: relative;
    margin-top: 113px;
    margin-bottom: 113px;
}

.actualite_all_title {
    font-size: 28px;
    font-weight: 600;
    margin-top: 141px;
    margin-left: 237px;
}

.actualite_all_description {
    font-size: 16px;
    font-weight: 400;
    margin-top: 26px;
    margin-left: 237px;
}

.actualite_all_img {
    width: 495px;
    aspect-ratio: 16 / 9;
    margin-right: 75px;
    margin-top: 119px;
    margin-bottom: 119px;
    border-radius: 15px;
    position: relative;
    z-index: 2;
}

.back_image_actualite_all {
    position: absolute;
    top: 65.8px;
    right: -44.2px;
    width: 413px;
    border-radius: 32px;
    aspect-ratio: 306 / 248; /*// pour faire un carrée sans utiliser heifht*/
    background-color: var(--pink-color);
    z-index: 2;
}
