/*Style de la banniére*/

/*Image de fond de la banniére*/

.image_vieuxmoulin {
    width: 100%;
    position: relative;
}

/*Titre de la banniére*/

.titre_vieuxmoulin {
    position: absolute;
    top: 477.8px;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    font-weight: 600;
    background-color: var(--decouvrir-background-color);
    border-radius: 35px 35px 0 0;
    padding: 55px;
}

.soulignement_titre_vieuxmoulin {
    display: inline-block;
    border-bottom: 3px solid var(--extra-decouvrir-background-color);
    padding-bottom: 5px;
}

/*Fin style de la banniére*/

/*Style de l'intro*/

/*Description de l'intro*/

.information_description {
    font-size: 16px;
    font-weight: 400;
    margin-top: 26px;
    margin-left: 237px;
    width: 71.5%;
}

/*Galerie de l'intro*/

.galerie_image_information {
    display: inline-block;
    max-width: 100%;
}

.image_galerie_container {
    display: grid;
    grid-template-columns: repeat(3, auto);
    justify-content: center;
    gap: 43px;
    margin-top: 26px;
    margin-bottom: 50px;
}

/*One line image de la galery de l'intro*/

.one_line_image_galery {
    width: 345px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

/*Bouton de l'intro (journée type)*/

.bouton_journee_type {
    color: var(--black-color);
    text-decoration: none;
    font-size: 20px;
    font-weight: 300;
    background-color: var(--extra-decouvrir-background-color);
    padding: 9px 27.5px;
    border-radius: 15px;
    margin-left: 237px;
    transition: transform 0.2s ease;
}

.bouton_journee_type:hover {
    transform: translateX(2px);
    box-shadow: 0 10px 30px var(--extra-decouvrir-background-color);
}


/*Fin style de la banniére*/

/*Style de la video*/

.video {
    position: relative;
}

/*Titre de la video*/

.video_video {
    width: 963px;
    border-radius: 15px;
    margin-top: 26px;
}

/*La video de la video*/

.video_container {
    display: flex;
    justify-content: center;
}

/*One line image de la video*/

.one_line_image_video {
    width: 345px;
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 1;
}

/*Fin style de la banniére*/

/*Style de plus d'information*/

.information {
    position: relative;
}

.information_document {
    position: relative;
}

/*Description de plus d'information*/

.description_document {
    font-size: 16px;
    font-weight: 200;
    margin-top: 26px;
    margin-left: 237px;
}

/*One line image de plus d'information*/

.one_line_image_information {
    width: 345px;
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 1;
}

/*Lien de plus d'information*/

.document_boutons {
    margin-top: 26px;
}

.carnet_daccueil, .projet_educatif {
    font-size: 16px;
    font-weight: 300;
    padding: 13px;
    text-decoration: none;
    color: var(--black-color);
    background-color: var(--extra-decouvrir-background-color);
    border-radius: 15px;
    transition: transform 0.2s ease;
    margin-right: 48px;
}

.carnet_daccueil {
    margin-left: 237px;
}

/*Effet de plus d'information*/

.carnet_daccueil:hover, .projet_educatif:hover {
    transform: translateX(2px);
    box-shadow: 0 10px 30px var(--extra-decouvrir-background-color);
}

/*Fin style de plus d'information*/

/*Style de soutient*/

.image_container_vieuxmoulin {
    margin-left: 264px;
    margin-bottom: 113px;
}

/*Titre de soutient*/

.soutient_titre {
    font-weight: 600;
}

/*Images de soutient*/

.soutient_image {
    margin-right: 73px;
}

/*Debut style en commun de certains éléments*/

.soulignement_titre_document, .soulignement_titre_soutient {
    display: inline-block;
    border-bottom: 3px solid var(--decouvrir-background-color);
    padding-bottom: 5px;
}

.information_titre, .video_titre, .titre_document, .soutient_titre {
    font-size: 28px;
    font-weight: 600;
    margin-top: 123px;
    margin-left: 237px;
}

.bouton_container_journee, .bouton_container_document {
    display: flex;
}

.image_container_vieuxmoulin {
    margin-left: 220px;
}

/*Media queries de toute la page*/


@media (max-width: 1570px) {
    .one_line_image_video {
        bottom: -50px;
    }
}

@media (max-width: 1445px) {
    .one_line_image_video {
        width: 245px;
    }
}

@media (max-width: 1430px) {
    .video_titre {
        margin-left: 50px;
    }
}

@media (max-width: 1425px) {
    .titre_vieuxmoulin {
        top: 453px;
        padding: 32px;
    }
}

@media (max-width: 1300px) {
    .titre_vieuxmoulin {
        padding: 16px;
    }
    .bouton_journee_type {
        margin-left: 190px;
    }

    .one_line_image_video {
        width: 220px;
    }
}

@media (max-width: 1240px) {
    .one_line_image_video {
        width: 200px;
    }

    .image_container_vieuxmoulin a:first-of-type .soutient_image {
        width: 200px;
    }

    .image_container_vieuxmoulin a:nth-child(2) .soutient_image {
        width: 400px;
    }
}

@media (max-width: 1115px) {
    .one_line_image_information {
        width: 230px;
    }
}


@media (max-width: 1090px) {
    .titre_vieuxmoulin {
        top: 418px;
        padding: 13px;
        font-size: 23px;
    }

    .bouton_journee_type {
        margin-left: 110px;
    }
}

@media (max-width: 1070px) {
    .titre_vieuxmoulin {
        top: 414px;
    }
}

@media (max-width: 1065px) {
    .video_video {
        width: 550px;
    }
}

@media screen and (max-width: 1024px) {
    .image_galerie_container {
        grid-template-columns: repeat(2, auto);
        gap: 30px;
    }

    .information_description {
        margin-left: 50px;
        width: 85%;
    }

    .information_titre {
        margin-left: 50px;
    }

    .one_line_image_galery {
        top: -143px;
        width: 311px;
    }

    .bouton_journee_type {
        margin-left: 35px;
    }

    .image_container_vieuxmoulin a:first-of-type .soutient_image {
        width: 200px;
    }

    .image_container_vieuxmoulin a:nth-child(2) .soutient_image {
        width: 400px;
    }
}

@media (max-width: 1015px) {
    .titre_vieuxmoulin {
        top: 418px;
        padding: 13px;
        font-size: 23px;
    }

    .bouton_journee_type {
        margin-left: 115px;
    }
}

@media (max-width: 955px) {
    .description_document, .titre_document, .carnet_daccueil,.soutient_titre {
        margin-left: 55px;
    }

    .image_container_vieuxmoulin {
        margin-left: 55px;
    }
}

@media (max-width: 885px) {
    .titre_vieuxmoulin {
        top: 345px;
    }
}

@media (max-width: 870px) {
    .titre_vieuxmoulin {
        top: 340px;
    }
}

@media (max-width: 805px) {
    .image_container_vieuxmoulin a:first-of-type .soutient_image {
        margin-bottom: 20px;
    }

}

@media (max-width: 800px) {

    .one_line_image_galery {
        top: -127px;
        width: 254px;
    }

    .one_line_image_video {
        width: 145px;
    }

}

@media (max-width: 790px) {
    .one_line_image_information {
        width: 180px;
    }
}


@media (max-width: 715px) {
    .titre_vieuxmoulin {
        top: 300px;
    }
}

@media screen and (max-width: 660px) {
    .image_galerie_container {
        margin-left: 40px;
    }

    .galerie_image_information {
        max-width: 93%;
    }

    .bouton_journee_type {
        margin-left: 45px;
    }

    .video_video {
        width: 455px;
        margin-right: 110px;
    }
}

@media (max-width: 655px) {
    .video_video {
        margin-right: 0;
    }
}

@media (max-width: 620px) {
    .titre_vieuxmoulin {
        top: 235px;
    }
}

@media (max-width: 600px) {
    .soutient_images_container {
        flex-direction: column;
        align-items: center;
        margin: 0 20px 50px 20px;
        gap: 20px;
    }

    .soutient_image {
        width: 100%;
        flex: unset;
        padding-left: 10px;
    }
}

@media (max-width: 580px) {
    .one_line_image_information {
        bottom: -100px;
    }
}

@media (max-width: 565px) {
    .titre_vieuxmoulin {
        top: 220px;
    }
}

@media (max-width: 450px) {
    .titre_vieuxmoulin {
        top: 59px;
        padding: 8px;
        font-size: 18px;
    }
}




