/*Style du formulaire de dons*/

    /*Bouton du formulaire de dons*/

.form_boutton {
    margin-top: 26px;
}

    /*Select du formulaire de dons*/

select {
    font-size: 16px;
    color: var(--pink-color);
    background-color: var(--white-color);
}
