.decouvrir {
    background-color:var(--decouvrir-background-color) ;
    display: flex;
    position: relative;
    margin-top: 12px;
}

.image_decouvrir {
    width: 495px;
    border-radius: 15px;
    margin-top: 119px;
    margin-left: 74px;
    margin-bottom: 118px;
    position: relative;
    z-index: 2;
}

.titre_decouvrir {
    font-size: 28px;
    font-weight: 600;
    margin-top: 163px;
    margin-left: 48px;
}

.description_decouvrir {
    font-size: 16px;
    font-weight: 400;
    width: 52.1%;
    margin-top: 26px;
    margin-left: 48px;
    margin-bottom: 26px;
}

.bouton_decouvrir {
    color: var(--black-color);
    text-decoration: none;
    font-size: 20px;
    font-weight: 400;
    background-color: var(--extra-decouvrir-background-color);
    padding: 9px 27.5px;
    border-radius: 15px;
    margin-top: 26px;
    margin-left: 48px;
}

.decouvrir_container {
    display: inline-block;
}

.one_line_image_decouvrir {
    width: 484px;
    position: absolute;
    top: 0; /* ajuste selon où tu veux la placer */
    right: 0; /* ou left, selon ton design */
    z-index: 1; /* si besoin de la superposer à autre chose */
}

.back_image_decouvrir {
    position: absolute;
    top: 65.8px;
    left: -44.2px;
    width: 413px;
    border-radius: 32px;
    aspect-ratio: 306 / 248; /*// pour faire un carrée sans utiliser heifht*/
    background-color: var(--extra-decouvrir-background-color);
    z-index: 2;
}

.titre_actualite, .titre_foyer, .titre_partenaires, .titre_famille {
    text-align: center;
    font-size: 28px;
    font-weight: 700;
    letter-spacing: 3.9px;
    margin: 0;
}

.titre_soulignement_actualite {
    display: inline-block;
    border-bottom: 3px solid var(--pink-color);
    padding-bottom: 5px;
    margin-top: 113px;
}

.foyer_container {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.foyer_post:first-child img{
    margin-left: 237px;
}

.foyer_post {
    display: flex;
}

.titre_soulignement_foyer {
    display: inline-block;
    border-bottom: 3px solid var(--decouvrir-background-color);
    padding-bottom: 5px;
    margin-top: 113px;
    margin-bottom: 26px;
}

.foyer_img {
    border-radius: 15px;
    border: var(--decouvrir-background-color) 6.5px solid;
    margin-left: 374px;
    width: 321px;
}

.foyer_title {
    font-size: 28px;
    font-weight: 600;
    margin-left: 48px;
    display: inline-block;
    margin-bottom: 0;
}

.foyer_head {
    display: inline-block;
}

.description_foyer {
    font-size: 16px;
    font-weight: 500;
    margin-top: 26px;
    margin-left: 48px;
    width: 57.9%;
}

.titre_soulignement_famille {
    display: inline-block;
    border-bottom: 3px solid var(--decouvrir-background-color);
    padding-bottom: 5px;
    margin-top: 113px;

}


.foyer_content {
    flex: 2;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.titre_soulignement_partenaires {
    display: inline-block;
    border-bottom: 3px solid var(--pink-color);
    padding-bottom: 5px;
    margin-top: 113px;
}

.bouton_actualite {
    color: var(--black-color);
    text-decoration: none;
    font-size: 20px;
    font-weight: 400;
    background-color: var(--pink-color);
    padding: 9px 27.5px;
    border-radius: 15px;
}

.actualite_fig, .partenaire_fig {
    background-color: var(--pink-color);
    width: 75%;
    padding: 19px;
    border-radius: 15px;
}

.actualite_img, .partenaire_img {
    border-radius: 15px;
}

.actualite_title, .partenaire_title {
    font-size: 28px;
    font-weight: 500;
    margin: 10px 0 5px;
}

.description_actualite {
    font-weight: 100;
    font-size: 24px;
    margin-top: 0;
}

.actualite_container, .partenaire_container {
    display: flex;
    justify-content: center;
    gap: 48px;
    flex-wrap: wrap;
    padding: 20px;
}

.bouton_container {
    display: flex;
    justify-content: center;
}

.actualite_post, .partenaire_post {
    max-width: 300px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bouton_foyer {
    color: var(--black-color);
    text-decoration: none;
    font-size: 20px;
    font-weight: 400;
    background-color: var(--extra-decouvrir-background-color);
    padding: 9px 27.5px;
    border-radius: 15px;
    margin-bottom: 113px;
    margin-top: 26px;
}


.benevolat {
    background-color:var(--benevolat-background-color);
    display: flex;
    align-items: center; /* centre verticalement */
    justify-content: center; /* centre horizontalement */
    gap: 50px; /* espace entre texte et image, optionnel */
    padding: 50px 0; /* pour un peu d'espace autour */
    margin-top: 113px;
}

.titre_benevolat {
    font-size: 28px;
    font-weight: 700;
    margin-left: 237px;
}

.description_benevolat {
    font-size: 16px;
    font-weight: 400;
    margin-top: 26px;
    margin-left: 237px;
    width: 51.7%;
}

.image_benevolat {
    width: 495px;
    border-radius: 15px;
    margin-top: 119px;
    margin-right: 78px;
    margin-bottom: 118px;
    z-index: 2;
}

.benevolat_container {
    display: inline-block;
    flex-direction: column;
    align-items: flex-start;
}

.one_line_image_benevolat {
    width: 301px;
    position: absolute;
    top: 890.4px; /* ajuste selon où tu veux la placer */
    right: 1328.8px; /* ou left, selon ton design */
    z-index: 1; /* si besoin de la superposer à autre chose */
}

.back_image_benevolat {
    position: absolute;
    top: 2559.5px;
    left: 1264.5px;
    width: 351.8px;
    border-radius: 32px 0 0 0;
    aspect-ratio: 306 / 248; /*// pour faire un carrée sans utiliser heifht*/
    background-color: var(--extra-benevolat-background-color);
    z-index: 1;
}

.famille_container {
    display: flex;
    align-items: center;
}

.image_famille {
    width: 495px;
    border-radius: 15px;
    margin-left: 237px;
    margin-top: 26px;
}

.description_famille {
    font-size: 16px;
    font-weight: 400;
    margin-left: 48px;
    margin-top: 58px;
    width: 56.8%;
}

.bouton_famille {
    color: var(--black-color);
    text-decoration: none;
    font-size: 20px;
    font-weight: 400;
    background-color: var(--extra-decouvrir-background-color);
    padding: 9px 27.5px;
    border-radius: 15px;
    margin-top: 26px;
    margin-left: 48px;
}

.one_line_image_famille {
    width: 345px;
    position: absolute;
    top: 1974.4px; /* ajuste selon où tu veux la placer */
    right: -0.5px; /* ou left, selon ton design */
    z-index: 1; /* si besoin de la superposer à autre chose */
}

.projet {
    display: flex;
}

.titre_projet {
    font-size: 28px;
    font-weight: 700;
    margin-top: 157px;
    margin-left: 237px;
}

.description_projet {
    font-size: 16px;
    font-weight: 400;
    margin-top: 26px;
    margin-left: 237px;
    width: 51.7%;
    margin-bottom: 26px;
}

.projet_container {
    display: inline-block;
}

.image_projet {
    width: 495px;
    border-radius: 15px;
    margin-top: 119px;
    margin-right: 78px;
    margin-bottom: 118px;
}

.one_line_image_projet {
    width: 332px;
    position: absolute;
    top: 2228.8px; /* ajuste selon où tu veux la placer */
    right: 1308.1px; /* ou left, selon ton design */
    z-index: 1; /* si besoin de la superposer à autre chose */
}

.bouton_projet {
    color: var(--black-color);
    text-decoration: none;
    font-size: 20px;
    font-weight: 400;
    background-color: var(--pink-darker-color);
    padding: 9px 27.5px;
    border-radius: 15px;
    margin-top: 26px;
    margin-left: 237px;
}

.projet {
    background-color:var(--pink-light-color);
    display: flex;
    margin-top: 113px;
}

