.top_header {
    background-color: var(--header-background);
}

body {
    margin: 0;
    padding: 0;
    font-family: Montserrat, sans serif;
}

.top_header {
    display: flex;
    align-items: center;
    padding: 0 20px;
}

.logo_header {
    display: flex;
    width: 119px;
    justify-content: flex-start;
    margin-left: 18px;
}

a.titre_header {
    color: var(--black-color);
    font-size: 28px;
    font-weight: 500;
    text-decoration: none;
    margin-left: 503px;
}

hr {
    height: 1px; /*demander*/
    background-color: var(--black-color);
    width: 100%;
    border: 0.3px;
}

.lien_navigation_header  {
    text-decoration: none;
    color: var(--black-color);
}

.lien {
    display: inline;
    margin-left: 33px;
    font-size: 18px;
    font-weight: 400;
}

.lien:first-child {
    margin-left: 431.0px;
}

.lien:last-child {
    font-weight: 600;
    background-color: var(--background-color-soutient);
    color: var(--white-color);
    padding: 10px;
    border-radius: 45px;
}
