/*Style de l'intro d'une journée type*/

.journee_intro {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 48px;
    position: relative;
}

    /*Titre d'une journée type*/

.journee_intro_titre {
    font-size: 28px;
    font-weight: 600;
    margin-left: 237px;
}

    /*Description d'une journée type*/

.intro_container_journee p {
    font-size: 16px;
    font-weight: 400;
    margin-top: 26px;
    margin-left: 237px;
    width: 68.0%;
}

    /*Image d'une journée type*/

.journee_intro_image {
    width: 321px;
    border-radius: 15px;
    border: var(--decouvrir-background-color) 6.5px solid;
    flex: 1;
    margin-top: 113px;
    margin-bottom: 113px;
    margin-right: 327px;
}

    /*One line image d'une journée type*/

.one_line_image_intro, .one_line_image_galerie {
    width: 400px;
    position: absolute;
    top: 0; /* ajuste selon où tu veux la placer */
    left: 0; /* ou left, selon ton design */
    z-index: 1; /* si besoin de la superposer à autre chose */
}

/*Fin style de l'intro d'une journée type*/

/*Style de la galerie d'une journée type*/

.galerie {
    background-color: var(--decouvrir-background-color);
    position: relative;
    padding-top: 40px;
    padding-bottom: 40px;
    margin-bottom: 113px;
}

    /*Titre de la galerie d'une journée type*/

.titre_galerie {
    font-size: 28px;
    font-weight: 600;
    margin-left: 237px;
}

/*Fin style de la galerie d'une journée type*/

/*Style de la faq d'une journée type*/

    /*Titre de la faq d'une journée type*/

.titre_faq {
    font-size: 28px;
    font-weight: 600;
    margin-left: 237px;
}

    /*Question de la faq d'une journée type*/

.titre_question {
    display: flex;
    justify-content: flex-start;
    border-radius: 15px;
    margin-left: 287px;
    width: 66%;
    font-size: 20px;
    font-weight: 400;
    padding: 19px 0 19px 12px;
    background-color: var(--extra-decouvrir-background-color);
    align-items: center;
}

    /*Etoile de la faq d'une journée type*/

.etoile {
    display: flex;
    justify-content: flex-end;
    color: var(--white-color);
    margin-right: 25px;
    margin-left: auto; /*Aide à mettre l'étoile sur le côté le plus à droite*/
    transform: scale(4);
    margin-top: -17.4px;
}


@media (max-width: 1515px) {
    .journee_intro_image {
        margin-right: 185px;
    }
}

@media (max-width: 1230px) {
    .intro_container_journee p {
        margin-left: 100px;
    }

    .journee_intro_titre {
        margin-left: 100px;
    }

    .one_line_image_intro {
        width: 275px;
    }
}

@media (max-width: 1040px) {
    .journee_intro {
        display: block;
    }

    .journee_intro_image {
        margin-left: 100px;
        margin-top: 0;
    }

    .one_line_image_intro {
        width: 181px;
    }
}

@media (max-width: 685px) {
  .journee_intro_image, .journee_intro_titre, .intro_container_journee p {
      margin-left: 65px;
    }

    .one_line_image_intro {
        top: 615px;
        width: 265px;
    }
}

@media (max-width: 555px) {
    .one_line_image_intro {
        top: 645px;
        width: 265px;
    }
}