/*Header*/

    /*Tablette en 725px*/

@media (max-width: 725px) {
    .top_header {
        flex-direction: row;
        justify-content: space-between;
        padding: 5px 10px;
    }

    .logo_header {
        width: 80px;
        margin-left: 0;
    }

    a.titre_header {
        font-size: 20px;
        letter-spacing: 2px;
        text-align: center;
    }

    .logo_facebook {
        width: 20px;
        margin-right: 10px;
    }

    .bottom_header {
        text-align: center;
    }

    .lien {
        margin: 10px 10px;
        font-size: 16px;
        display: inline-block;
    }

    .lien:first-child {
        margin-left: 0 ;
    }

    .navigation_header {

        display: flex;
        justify-content: center;
        flex-wrap: wrap; /* si plusieurs lignes */
        padding: 0;
        margin: 0 auto;
        list-style: none;
    }
}

/*Téléphone en 625px*/

@media (max-width: 625px) {
    .logo_header {
        width: 65px;
    }

    a.titre_header {
        font-size: 17px;
        letter-spacing: 1.5px;
    }

    .titre_header {
        font-size: 18px;
        letter-spacing: 1px;
        text-align: center;
    }

    .logo_facebook {
        display: none;
    }

    .lien {
        font-size: 14px;
        margin: 8px 6px;
    }

    .lien:last-child a {
        padding: 6px 10px;
        font-size: 13px;
    }

    .hidden_for_bgm {
        overflow: hidden;
        display: none;
    }

    .bgm_seen {
        display: flex;
    }

    .titre_header {
        font-size: 18px;
        letter-spacing: 1px;
    }

    .bottom_header,
    .navigation_header {
        display: none;
    }
}
