/*Style du plan du foyer*/

.location {
    position: relative;
    display: flex;
    align-items: center;
    margin-top: 113px;
    margin-bottom: 113px;
}

    /*One line image foyer*/

.one_line_image_plan {
    width: 500px;
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 1;
}

.plan {
    width: 375px;
    margin-left: 300px;
}

    /*Titre foyer*/

.titre_plan {
    font-size: 28px;
    font-weight: 600;
    margin-left: 48px;
}

    /*Element foyer*/

.location_container li {
    font-size: 16px;
    font-weight: 400;
    margin-left: 48px;
}

.location_container {
    margin-left: 48px;
}

.location_container ul {
    margin:0;
    padding: 0;
}

    /*Map foyer*/

.acf-map {
    border-radius: 15px;
    border: var(--decouvrir-background-color) 6.5px solid;
    margin-left: 237px;
    width: 321px;
    margin-top: 113px;
    aspect-ratio: 1;
}



@media (max-width: 1410px) {
    .plan {
        margin-left: 114px;
    }
}

@media (max-width: 1200px) {
    .plan {
        margin-left: 65px;
    }
}

@media (max-width: 1090px) {
    .location {
        display: block;
    }

    .one_line_image_plan {
        width: 560px;
    }
}

@media (max-width: 855px) {
    .one_line_image_plan {
        width: 400px;
    }
}

@media (max-width: 700px) {
    .one_line_image_plan {
        width: 300px;
    }
}


