.qrcode_image {
    width: 213px;
    margin-top: 90px;
    margin-left: 237px;
}

.qrcode_titre {
    font-size: 28px;
    font-weight: 600;
    margin: 0;
}

.qrcode_description {
    font-size: 16px;
    font-weight: 400;
    width: 52.9%;
    margin-top: 26px;
}

.qrcode {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 48px;
    position: relative;
}

.qrcode_text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 117px;
}

.titre_par_dons {
    font-size: 28px;
    margin-left: 237px;
    margin-bottom: 0;
}

.description_par_don {
    font-size: 16px;
    margin-top: 26px;
    margin-left: 237px;
    width: 61.8%;
}

.image_par_dons {
    border-radius: 15px;
    border: var(--pink-more-light-color) 6.5px solid;
    width: 321px;
    flex: 1;
    margin: 113px 344px 113px 0;
}

.bouton_par_dons {
    width: fit-content;
    color: var(--black-color);
    text-decoration: none;
    font-size: 20px;
    font-weight: 400;
    background-color: var(--pink-color);
    padding: 9px 27.5px;
    border-radius: 15px;
    margin-left: 237px;
    margin-top: 26px;
    transition: transform 0.2s ease;
}

.bouton_par_dons:hover {
    display: inline-block;
    margin-top: 26px;
    transform: translateX(2px);
    box-shadow:  0 10px 30px var(--pink-color);
}

.dons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 48px;
    position: relative;
}

.contenu-gauche {
    display: flex;
    flex-direction: column;
}

.one_line_par_dons {
    width: 200px;
    position: absolute;
    top: 0; /* ajuste selon où tu veux la placer */
    left: 0; /* ou left, selon ton design */
    z-index: 1; /* si besoin de la superposer à autre chose */
}

.exemple {
    max-width: 300px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.exemple_container {
    display: flex;
    justify-content: center;
    gap: 48px;
    flex-wrap: wrap;
    padding: 20px;
    margin-top: 113px;
}

.exemple_description {
    font-weight: 100;
    font-size: 24px;
    margin-top: 0;
}

.exemple_titre {
    font-size: 28px;
    font-weight: 500;
    margin: 10px 0 5px;
}

.exemple_fig {
    background-color: var(--pink-color);
    width: 75%;
    padding: 19px;
    border-radius: 15px;
}

.exemple_fig:hover {
    box-shadow:  0 10px 30px var(--pink-color);
}

.exemple_image {
    border-radius: 15px;
}

.exemple_img {
    border-radius: 15px;
}

.benevolat_soutenir {
    background-color: var(--pink-more-light-color);
    display: flex;
    position: relative;
    margin-top: 113px;
    margin-bottom: 113px;
    align-items: center;
    justify-content: center;
}

.benevolat_soutenir_titre1 {
    font-size: 30px;
    font-weight: 600;
    margin-left: 48px;
    margin-bottom: 0;

}

.titre_soulignement_benevolat_soutient {
    display: inline-block;
    border-bottom: 3px solid var(--pink-color);
    padding-bottom: 5px;
}

.benevolat_soutenir_titre2 {
    font-size: 28px;
    font-weight: 600;
    margin-top: 26px;
    margin-left: 48px;
    margin-bottom: 0;
}

.benevolat_soutenir_description {
    font-size: 16px;
    font-weight: 400;
    margin-top: 26px;
    margin-left: 48px;
    width: 52.8%;
}

.benevolat_soutenir_image {
    width: 495px;
    margin-left: 71px;
    margin-top: 121px;
    margin-bottom: 116px;
    border-radius: 15px;
    position: relative;
    z-index: 2;
}

.back_image_benevolat_soutenir {
    position: absolute;
    top: 53.9px;
    right: 1278.8px;
    width: 351.8px;
    border-radius: 32px;
    aspect-ratio: 306 / 248; /*// pour faire un carrée sans utiliser heifht*/
    background-color: var(--pink-color);
    z-index: 1;
}

.text_container {
    display: flex;
    flex-direction: column;
}

.one_line_image_soutenir {
    width: 414px;
    position: absolute;
    bottom: 0; /* ajuste selon où tu veux la placer */
    right: 0; /* ou left, selon ton design */
    z-index: 1; /* si besoin de la superposer à autre chose */
}

.one_line_image_qrcode {
    width: 481px;
    position: absolute;
    bottom: 0; /* ajuste selon où tu veux la placer */
    right: 0; /* ou left, selon ton design */
    z-index: 1; /* si besoin de la superposer à autre chose */
}

.exemple_fig:hover{

transform: translateX(2px);
box-shadow: 0 10px 30px var(--pink-color);
}
